<?xml version="1.0" encoding="utf-8"?>
<package>
    <!--decompile标签中的applicationID属性-->
    <decompile target="10000_TCYJClient-skinPeeler-release_v3.3.1_20200113">
        <application-id>com.selfoperate.bdifeast</application-id>
<!--        <theme isReplace="true">-->
<!--            <subject-color>#F24386</subject-color>-->
<!--            <notification-color>#F24386</notification-color>-->
<!--        </theme>-->
        <app-name>约陌聊天交友</app-name>
        <app-icon>3601181</app-icon>
        <splash-icon>loading2</splash-icon>
        <app-version>331</app-version>
        <app-version-name>3.3.9</app-version-name>
        <umeng-channel>
            111,222
        </umeng-channel>

        <app-theme isReplace="true"/>

        <!--默认false,即不开启域名替换任务-->
        <domain-switch switch="true"/>

    </decompile>

</package>